@{
    Layout = "~/Views/Responsive/_ResponsiveLayout.cshtml";
}
<div id="page">
    <div class="blog section">
        <h1 class="lede">Recently in <a href="#">The Bot Blog</a></h1>   
        <ul id="main-menu">
            <li>@Html.ActionLink("Home", "index", "Home")</li>
            <li>@Html.ActionLink("Poziomy", "index", "levels")</li>
            <li>@Html.ActionLink("Custom DisplayModes", "index", "CustomDisplayMode")</li>
            <li>@Html.ActionLink("Konsekwentne", "index", "consistent")</li>
            <li>@Html.ActionLink("jQuery", "index", "JQuery")</li>
            <li>@Html.ActionLink("Responsive", "index", "Responsive")</li>
        </ul>
        <div class="main">
            <div class="article">
            
                <p class="introduction">
                    <!-- start slipsum code -->
                    Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do. That's also clear. But for some reason, you and I react the exact same way to water. We swallow it too fast, we choke. We get some in our lungs, we drown. However unreal it may seem, we are connected, you and I. We're on the same curve, just on opposite ends.
                    Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into a glass motherfuckin' house, fuckin' up the way the nigger talks. Motherfucker do that shit to me, he better paralyze my ass, 'cause I'll kill the motherfucker, know what I'm sayin'?
                    <!-- end slipsum code -->
                </p><!-- /end .introduction -->
            
                <div class="figure">
                    <p>
                        <img src="@Href("~/Content/images/robot2.jpg")" alt="robot" />
                        <b class="figcaption">Lo, the robot walks</b>
                     </p>
                </div> <!-- /end .figure -->

                <!-- start slipsum code -->
                Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense! In a comic, you know how you can tell who the arch-villain's going to be? He's the exact opposite of the hero. And most times they're friends, like you and me! I should've known way back when... You know why, David? Because of the kids. They called me Mr Glass.
                My money's in that office, right? If she start giving me some bullshit about it ain't there, and we got to go someplace else and get it, I'm gonna shoot you in the head then and there. Then I'm gonna shoot that bitch in the kneecaps, find out where my goddamn money is. She gonna tell me too. Hey, look at me when I'm talking to you, motherfucker. You listen: we go in there, and that nigga Winston or anybody else is in there, you the first motherfucker to get shot. You understand?
                My money's in that office, right? If she start giving me some bullshit about it ain't there, and we got to go someplace else and get it, I'm gonna shoot you in the head then and there. Then I'm gonna shoot that bitch in the kneecaps, find out where my goddamn money is. She gonna tell me too. Hey, look at me when I'm talking to you, motherfucker. You listen: we go in there, and that nigga Winston or anybody else is in there, you the first motherfucker to get shot. You understand?            
                <!-- end slipsum code -->

            </div><!-- /end .article -->
        </div> <!-- /end .main -->
        <div class="other">
            <div class="recent-entries">
                <ul>
                    <li>
                        <h2>Title</h2>
                        <p>You know why, David? Because of the kids. They called me Mr Glass.</p>
                    </li>
                    <li>
                        <h2>Title</h2>
                        <p>You know why, David? Because of the kids. They called me Mr Glass.</p>
                    </li>
                    <li>
                        <h2>Title</h2>
                        <p>You know why, David? Because of the kids. They called me Mr Glass.</p>
                    </li>
                    <li>
                        <h2>Title</h2>
                        <p>You know why, David? Because of the kids. They called me Mr Glass.</p>
                    </li>
                    <li>
                        <h2>Title</h2>
                        <p>You know why, David? Because of the kids. They called me Mr Glass.</p>
                    </li>
                    <li>
                        <h2>Title</h2>
                        <p>You know why, David? Because of the kids. They called me Mr Glass.</p>
                    </li>
                </ul>
            </div>
        </div> <!-- /end .other -->
    </div> <!-- /end .blog .section -->
</div> <!-- /end #page -->
